<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NGLAUNCH</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/client.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body ng-app = 'myApp'>
    HELLO
    <div ng-controller = 'angularintro as ai'>
      <input type='number' ng-model='ai.yearIn' placeholder="year"/>
      <input type='text' ng-model='ai.makeIn' placeholder="make"/>
      <input type='text' ng-model='ai.modelIn' placeholder="model"/>
      <input type='number' ng-model='ai.costIn' placeholder="cost"/>
      <button ng-click='ai.addCar()'>Add Car</button>
      <p ng-repeat='cars in ai.cars'>
        {{ cars.model }} {{ cars.make }} {{ cars.model }} ${{ cars.cost }}
      </p>


      <h2 ng-show='ai.showFront' ng-click='ai.toggleShow()'>FRONT</h2>
      <h2 ng-hide='ai.showFront' ng-click='ai.toggleShow()'>BACK</h2>

    </div>
  </body>
</html>
